<!DOCTYPE html>
<html>
  <head>
    <title>Commons</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="auth-links">
        <% if user_signed_in? %>
          <%= link_to('Logout', destroy_user_session_path) %>
        <% else %>
          <%= link_to 'Sign In', new_user_session_path  %> | <%= link_to "Sign Up", new_user_registration_path %>
        <% end %>
      </div>

      <% if notice.present? %>
        <p class="notice"> <%= "NOTICE: #{notice}" %></p>
      <% end %>
      <% if alert.present? %>
        <p class="alert"><%= "ALERT: #{alert}" %></p>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
