<!DOCTYPE html>
<html>
  <head>
    <title>Commons</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/nav' %>
    <div class="container">
      <% if notice.present? %>
        <p class="notice"> <%= "NOTICE: #{notice}" %></p>
      <% end %>
      <% if alert.present? %>
        <p class="alert"><%= "ALERT: #{alert}" %></p>
      <% end %>

      <%= yield %>
    </div>


    <%= yield :scripts %>
  </body>
</html>
